<!DOCTYPE html>
<html lang="pt-BR">
   <head>
      <link rel="stylesheet" href="/styles/partials/forms.css" />
      <link rel="stylesheet" href="/styles/pages/job.css" />
      <script type="text/javascript">
         alert('ESTA OPERAÇÃO NÃO PODE SER REALIZADA, POIS O JOB NÃO FOI ENCONTRADO.');
         window.location = '/';
      </script>
   </head>
   <body id="page-job">
      <div class="container flex animate-up delay-2"></div>
      <!-- end container -->
   </body>
</html>
